<h1>首页</h1>
<p>
1.这个是我用rails正式写的第一个项目<br/>
2.上次写的项目是在师傅的指引下快速开发的一个博彩程序(http://rorbet.heroku.com),有些囫囵吞枣的感觉.这里要系统的写一个完整强大的cms.<br/>
3.很巧的一件事,这个cms也是6月2日开始的.以前写的php的cms(叫做witcms,http://www.withost.cn)也是6月2日开发的.看来这不是偶然...<br/>
4.开发过程中我会把所有开发过程中遇到的所有知识点.都用<a href="http://cnkme.3322.org">discuz论坛</a>以帖子的形式记录下来.
</p>
<p style="color:red">
注:增加角色,必须登录的管理员才可以访问. 测试用户密码:admin admin888
</p>
